<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <section class="<%= data.category %>">
    <h2><%= data.title %></h2>
    <p>Description: <%= data.description %></p>
    <p>Contact: <%= data.contact %></p>
    <form action="/update/<%= data.id %>?_method=PUT" method="POST">
      <p>Status: <%= data.status %></p>
      <button>mark as complete</button>
    </form>
    <p>Category: <%= data.category %></p>
    <form action="/delete/<%= data.id %>?_method=DELETE" method="POST">
      <button>Delete this task</button>
    </form>
  </section>
</body>
</html>