<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <section>
      <h4><%= data.title %></h4>
        <p>Description: <%= data.description %></p>
        <p>Contact: <%= data.contact %></p>
        <p>Status: <%= data.status %></p>
        <p>Category: <%= data.category %></p>
        <p>Due Date: <%= data.due %></p>
  </section>
</body>
</html>